In [1]:
import psycopg2
import os
import json

# Load the database parameters
db_params_path = os.path.join("scripts", "db_params.json")
with open(db_params_path, "r") as f:
    db_params = json.load(f)

# Establish a connection
connection = psycopg2.connect(**db_params)

In [2]:
import pandas as pd

n = 1000

# SQL query
sql_query = f"""SELECT problem_id, COUNT(DISTINCT user_id)
                FROM questions_userlog
                GROUP BY problem_id
                HAVING COUNT(DISTINCT user_id) >= {n};"""

# Load data into a Pandas dataframe
df = pd.read_sql_query(sql_query, connection)

/var/folders/r4/lsk7h_t97_z0qpppcnz96n700000gn/T/ipykernel_5000/3729999229.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, connection)

In [4]:
df.describe()

       problem_id        count
count   33.000000    33.000000
mean   806.757576  1240.757576
std     33.554089   233.829135
min    734.000000  1007.000000
25%    806.000000  1065.000000
50%    817.000000  1175.000000
75%    829.000000  1305.000000
max    840.000000  1813.000000